.navbar {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: lightpink;
    &__text {
        color:mediumpurple;
        font: 300;
        padding: 15px;
        font-size:xx-large;
    };
    &__links {
        display: inline-flex;
        list-style-type: none;
        li {
            margin: 15px;
            a {
                text-decoration: none;
                color: purple;
            }
        }
    }
}