.body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    &__addBtn {
        border-radius: 5px;
        background-color: purple;
        color: whitesmoke;
        margin: 20px;
        padding: 15px;
    };
    &__label {
        color: rgb(232, 188, 232);
    }
    &__form {
        background-color: rgb(226, 228, 230);
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        align-items: center;
    }
    &__input {
        width: 50vw;
        padding: 10px;
        margin: 10px;
    }
}